.addWorkerForm {
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }

.cform-control[type=text] {
    padding: 10px;
    margin: 5px 0;
    border-radius:10px;
    width: 100%;
    text-align: center;
    align-self: center;
}

.cform-control1[type=text] {
    padding: 10px;
    margin: 5px 0;
    border-radius:10px;
    width: 200%;
    text-align: center;
    align-self: center;
}

.daterow {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 10px 0;
    border-radius:10px;
    width: 100%;
}

.datepick {
    width: 100%;
    text-align: center;
}

.cbtn {
    width: 79%;
}

.fullWide {
    width: 100%;
}

.centered {
    text-align: center;
}