@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif!important;
}

.body-custom {
  padding: 2%;
  width: 74%
}
.body-custom1 {
  padding: 2%;
  width: 100%
}
.card-img-top {
    width: 45%;
    height: 200px;
    align-self: center;
    object-fit: cover;
}

#worker-card {
  position: relative; right: 1%;
  position: relative; top: 15%;
  margin-top: 10px;
  width: 25%;
  height: 90%;
}

.rowC {
  display:flex;
  flex-direction:row;
  flex-shrink: 3;
}


.dropdown {
  align-self: flex-end;
}


#loginId {
  width: 20%;
  height: 20%;
}

#Login {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 573px;
}

#LoginTable {
  border:none;
  width: 100%;
}

#logintext {
  width: 100%;
  height: 55px;
  background-color:white;
  border:none;
  resize: none;
  word-break: break-word;
}

#loginIm {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 21%;
}

#editLP {
  padding: 1%;
  align-self: center;
}

#createLP {
  padding: 1%;
  align-self: center;
  margin: auto;
}