@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif!important;
}

.workers-table {
  padding-top: 5px;
  transform: translatex(+3%);
}

.dropdown {
  position: absolute;
}
